.App {
  /* text-align: center; */
  background-color: white;
  width: 46.8in; /*1188.72*/
  /* height: 33.1in; */
  height: 40in; /*1016*/
  font-size: 25pt;
  /*font-family: 'Average';*/
  /* text-align: justify; */
  /* text-justify: inter-word; */
  overflow: hidden;
}

.container {
  height: 100%;
  width: 100%;
  display: grid;
  /* grid-template-columns: repeat(7, 1fr) ; */
  grid-template-columns: repeat(3,32%);
  grid-template-rows: 12em 1fr;
  /* justify-items: stretch;
  align-items: stretch; */
  justify-content: stretch;
  align-content: stretch;
  grid-column-gap: 0.5em;
  grid-row-gap: 1em;
  grid-template-areas:
    "header header header"
    "intro biaswhy methods";
    /* "bias gener algo"; */
  /* grid-template-areas:
    "header header header header header header header"
    "intro intro bias bias bias biaswhy biaswhy"
    "pfdef pfdef bias bias bias biaswhy biaswhy"
    "gener gener gener gener algo algo algo"
    "methods methods methods methods methods methods methods"; */
  padding: 0em 0em 0em 1em ;
  /* grid-auto-flow: column; */
  /* background:
    repeating-linear-gradient(to bottom,
      transparent 0,
      transparent 23.5in,
      rgba(72, 96, 219,0.3) 23.5in,
      rgba(72, 96, 219,0.3) 23.55in
    ); */
  /* background: #f7f6f2; */
}

.clearfix:after
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
}

.header {
justify-self: center;
}

.panel {
  /* grid-column: 1 / 1;
  grid-row: 2 / 2; */
  border-radius: 0.5em;
  /* border: rgba(0, 0, 0, 0.3) solid 2px; */
  background: white;
  /* padding: 0.5em 0.5em; */
  padding: 0.0em 0.5em;
  /* margin: 0em 1em 1em 0em; */
  margin: 0em 0em 0em 0em;
  /* display: flex;
  flex-direction: column; */
}
.panel > p {
  margin: 0.1em 0.0em;
}


.panel-heading {
font-size: 38pt;
text-align: center;
}

.speech-bubble1 > p, .speech-bubble2 > p {
  margin: 0em;
}

.speech-bubble1, .speech-bubble2 {
  /* font-size: 38pt; */
  margin: 0.5em;
  /* display: inline-block; */
  /* float: left; */
  width: auto;
}

img {
  /* float:none !important; */
  /* display: inline; */
}

.user {
  font-size: 20pt;
  display: inline-block;
  max-width: 8em;
}

.speech-bubble1 {
	position: relative;
	/* background: #09f; */
	/* background: #188415; */
  background: #cbe5f2;
  color: black;
  padding: 0.5em;
	border-radius: .4em;
  margin-left: 1.5em;
  /* font-weight: bold; */
}

.speech-bubble1:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 24px solid transparent;
	border-left-color: #cbe5f2;
	border-right: 0;
	border-top: 0;
	margin-top: -12px;
	margin-right: -24px;
}

.speech-bubble2 {
	position: relative;
	background: #f1f0f0;
  color: black;
  padding: 0.5em;
	border-radius: .4em;
  margin-right: 1.5em;
  display: inline-block;
}

.short-bubble {
max-width: 75%;
}

.speech-bubble2:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 24px solid transparent;
	border-right-color: #f1f0f0;
	border-left: 0;
	border-top: 0;
	margin-top: -12px;
	margin-left: -24px;
}

.panel-heading > h3 {
 margin: 0.3em;
}
.panel> .panel-heading {
/* overflow: auto; */
  /* color: #fff;
  background-color: #337ab7;
  border-color: #337ab7; */
}

.bubble-title {
font-size: 38pt;
text-align: left;
}

.panel-title {
font-size: 38pt;
text-align: center;
}
